* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.overline {
  text-decoration: line-through;
}

.wrapper {
  width: 500px;
  border: 1px solid grey;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}

.refresh-icon {
  width: 20px;
  height: 20px;
}

.add-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
  border-top: 1px solid grey;
}

.add-bar-text {
  border: 0;
  padding: 5px 5px;
  width: 400px;
}

.enter-icon {
  width: 15px;
  height: 15px;
}

.clear {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  border-top: 1px solid grey;
  background-color: #e4e4e4;
}

.clear-text {
  text-decoration: underline;
  color: #5e5d5d;
  padding: 10px 10px;
}

.list-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  border-top: 1px solid grey;
}

.list-content {
  display: flex;
}

.more-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

.trash {
  height: 15px;
  width: 15px;
}

.list-text {
  margin-left: 5px;
  font-size: 16px;
}
